main{
    height: 76vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: none;
    font-family: draft;
}

.tarjeta{
    background-color: aliceblue;
    border: white 1px solid;
    margin: 30px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
    background-image: url(src/assets/images/coc-background.jpg); 
    background-size: cover;
    font-family: draft;
}

.imagen{
    background-image: url(src/assets/images/malta.png);
    background-size: contain;
}

.imagen1{
    background-image: url(src/assets/images/trigo.png);
    background-size: contain;
}

.imagen2{
    background-image: url(src/assets/images/oryza.png);
    background-size: contain;
}

.imagen3{
    background-image: url(src/assets/images/arroz.png);
    background-size: contain;
}


.texto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: none;
    text-align: center;
}

.precios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: none;
}

.precio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3aa96;
    font-size: 1.5em;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff10;
    border: #fff 1px solid ;
    box-shadow: -1px 15px 30px -12px black;
    color: #ffb700;
    font-size: 1.5em;
    font-family: draft;   
}

.minicontainer{
    margin:10px 10px;
    font-family: monospace;  
}

