<main>
    <div class="tarjeta">
        <div class="imagen">
            <div class="img"></div>
        </div>
        <div class="texto">
           <div class="info">
               <h1>Cerveza de malta</h1>
               <div class="minicontainer">
                   <h4>Ref : 01 </h4>
                   <h3>Alcohol : 2% </h3>
                   <h3>Calidad : Faraon aproval</h3>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum numquam distinctio ratione ipsam! Animi explicabo voluptatem eos dolorum et ipsam. Quaerat illum doloremque sapiente doloribus optio, quam in vel nihil officia explicabo eos quasi ipsam perferendis quisquam? Eius at quod unde consequatur soluta ipsum officiis, cum omnis debitis nobis? Voluptates.</p>
               </div>
           </div>
           <div class="precios">
               <div class="precio"> $ 12000 unid</div>
               <div class="boton">
                   <button>comprar</button>
               </div>
           </div>
        </div>
    </div>  
    <div class="tarjeta">
        <div class="imagen1">
        </div>
        <div class="texto">
           <div class="info">
               <h1>Cerveza de Trigo</h1>
               <div class="minicontainer">
                   <h4>Ref : 02 </h4>
                   <h3>Alcohol : 8% </h3>
                   <h3>Calidad : pending aproval</h3>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum numquam distinctio ratione ipsam! Animi explicabo voluptatem eos dolorum et ipsam. Quaerat illum doloremque sapiente doloribus optio, quam in vel nihil officia explicabo eos quasi ipsam perferendis quisquam? Eius at quod unde consequatur soluta ipsum officiis, cum omnis debitis nobis? Voluptates.</p>
               </div>
           </div>
           <div class="precios">
               <div class="precio"> $ 12000 unid</div>
               <div class="boton">
                   <button>comprar</button>
               </div>
           </div>
        </div>
    </div> 
    <div class="tarjeta">
        <div class="imagen2">
            <div class="img"></div>
        </div>
        <div class="texto">
           <div class="info">
               <h1>Cerveza de Oriza</h1>
               <div class="minicontainer">
                   <h4>Ref : 03 </h4>
                   <h3>Alcohol : 4% </h3>
                   <h3>Calidad : Faraon aproval</h3>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum numquam distinctio ratione ipsam! Animi explicabo voluptatem eos dolorum et ipsam. Quaerat illum doloremque sapiente doloribus optio, quam in vel nihil officia explicabo eos quasi ipsam perferendis quisquam? Eius at quod unde consequatur soluta ipsum officiis, cum omnis debitis nobis? Voluptates.</p>
               </div>
           </div>
           <div class="precios">
               <div class="precio"> $ 12000 unid</div>
               <div class="boton">
                   <button>comprar</button>
               </div>
           </div>
        </div>
    </div> 
    <div class="tarjeta">
        <div class="imagen3">
            <div class="img"></div>
        </div>
        <div class="texto">
           <div class="info">
               <h1>Cerveza de Arroz</h1>
               <div class="minicontainer">
                   <h4>Ref : 04 </h4>
                   <h3>Alcohol : 4% </h3>
                   <h3>Calidad : Consul aproval</h3>
                   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum numquam distinctio ratione ipsam! Animi explicabo voluptatem eos dolorum et ipsam. Quaerat illum doloremque sapiente doloribus optio, quam in vel nihil officia explicabo eos quasi ipsam perferendis quisquam? Eius at quod unde consequatur soluta ipsum officiis, cum omnis debitis nobis? Voluptates.</p>
               </div>
           </div>
           <div class="precios">
               <div class="precio"> $ 12000 unid</div>
               <div class="boton">
                   <button>comprar</button>
               </div>
           </div>
        </div>
    </div> 
   
    
     
</main>
