<main>
    <button class="left" (click)="show=!show"> </button>
    <div class="card" id="card1" *ngIf="show">
        <div class="img">
            <div class="shakum"></div>
        </div>
        <div class="description">
            <h4 class="dorado"> LEVEL 1</h4>
            <h2 class="blank"> El Shakum</h2>
            <p class="text">
                El Shakum es un trago para principiantes no tiene volumen de alcohol .5% pero su sabor dulce
                y calido es especialmente tierno para todos aquellos que quieran tener una buena charla al calor
                de nuestra piramides
            </p>
        </div>
        <div class="prices">
            <div class="price">
                <div class="dinero">$10</div>
                <div class="info">Unidad</div>
            </div>
            <div class="price">
                <div class="dinero">$50</div>
                <div class="info">Ronda(6)</div>
            </div>
            <div class="price">
                <div class="dinero">$100</div>
                <div class="info">Ronda(15)</div>
            </div>
        </div>
    </div>
    <div class="card" id="card2" *ngIf="!show">
        <div class="img">
            <div class="takar"></div>
        </div>
        <div class="description">
            <h4 class="dorado"> LEVEL 2</h4>
            <h2 class="blank"> El Takar</h2>
            <p class="text">
                El Takar es un trago para novatos tiene volumen de alcohol 2% asi que si no lo tomas con                 
                cuidado te pateara el trasero, pide un ubermello si no sabes tomar
            </p>
        </div>
        <div class="prices">
            <div class="price">
                <div class="dinero">$25</div>
                <div class="info">Unidad</div>
            </div>
            <div class="price">
                <div class="dinero">$100</div>
                <div class="info">Ronda(6)</div>
            </div>
            <div class="price">
                <div class="dinero">$200</div>
                <div class="info">Ronda(15)</div>
            </div>
        </div>
    </div>
    <button class="right" (click)="show=!show"> </button> 
</main>