main{
    height: 76vh;
    background-image: url(src/assets/images/construct.gif);
    background-size: cover;
    color: aliceblue;
    font-family: draft;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

main button{
    background-color: #ffb700;
    border: #ffb700 1px solid;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    font-family: draft;
    font-size: 1em;
    color: aliceblue;
}